div {
  text-align: center;
  padding-top: 100px;
}

svg {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
  cursor: pointer;
  overflow: visible;
}

.twitter-outline,
.twitter-icon {
  transition: 300ms all;
  transform-origin: 50% 50%;
}

.twitter-icon-group:hover .twitter-outline {
  transform: scale(0);
}

.twitter-icon-group:hover .twitter-icon {
  transform: scale(2);
  stroke: #4099ff;
  opacity: 0;
}

.youtube-icon,
.youtube-outline,
.youtube-inner-circle {
  transition: 300ms all;
  transform-origin: 50% 50%;
}

.youtube-icon-group:hover .youtube-outline {
  transform: scale(1.2);
}

.youtube-icon-group:hover .youtube-inner-circle {
  fill: #f26768;
}

.youtube-icon-group:hover .youtube-icon {
  stroke: #ffffff;
}